{% load static i18n %}
<!-- ========== FOOTER ========== -->
<footer class="container text-center content-space-1 d-flex  align-items-center flex-column">
    <!-- Logo -->
    <a class="d-inline-flex align-items-center mb-2 gap-4" href="/" aria-label="Front">
        <img class="brand" src="{% static 'theme/images/logo-orleu.svg' %}" alt="Logo">
    </a>
    <!-- End Logo -->
    {% if LANGUAGE_CODE == 'ru' %}
        <a class="text-body" href="{% url 'privacy' %}">Политика конфиденциальности</a>
        <p class="small text-muted mb-0">&copy; 2025 АО «Национальный центр повышения квалификации «Өрлеу». <br>Все права
        защищены.
    {% endif %}
    {% if LANGUAGE_CODE == 'kk' %}
        <a class="text-body" href="{% url 'privacy' %}">ҚҰПИЯЛЫЛЫҚ САЯСАТЫ</a>
        <p class="small text-muted mb-0">&copy; 2025 «Өрлеу» біліктілікті арттыру ұлттық орталығы» АҚ. <br> Барлық құқықтар қорғалған.
    {% endif %}
    </p>

</footer>
<!-- ========== END FOOTER ========== -->