{% load static i18n %}
<!-- ========== FOOTER ========== -->
<footer class="container text-center content-space-1 d-flex  align-items-center flex-column">
    <!-- Logo -->
    <a class="d-inline-flex align-items-center mb-2 gap-4" href="/" aria-label="Front">
        <img class="brand" src="{% static 'theme/images/logo-orleu.svg' %}" alt="Logo">
        <img class="brand" src="{% static 'theme/images/logo-mono.png' %}" alt="Logo">
    </a>
    <!-- End Logo -->
    <a class="text-body" href="{% url 'privacy' %}">Политика конфиденциальности и Условия использования</a>
    <p class="small text-muted mb-0">&copy; 2025 «Өрлеу» біліктілікті арттыру ұлттық орталығы» АҚ Все права защищены.
    </p>

</footer>
<!-- ========== END FOOTER ========== -->