{% load static i18n %}
<!-- Header -->
<header id="header" class="navbar navbar-expand-lg navbar-end navbar-absolute-top navbar-light">
    <div class="container">
        <nav class="js-mega-menu navbar-nav-wrap hs-menu-initialized hs-menu-horizontal">
            <!-- Default Logo -->
            <a class="navbar-brand" href="/" aria-label="Front">
                <img class="navbar-brand-logo" src="{% static 'theme/images/logo-mono.png' %}" alt="Logo">
            </a>
            <!-- End Default Logo -->

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-default">
                    <i class="bi-list"></i>
                </span>
                <span class="navbar-toggler-toggled">
                    <i class="bi-x"></i>
                </span>
            </button>
            <!-- End Toggler -->

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'ecp_login' %}">{% trans "Войти" %}</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        {% if request.user.role == "participant" %}
                            {% if request.user.applications %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'contest:application_preview' %}">{% trans "Моя заявка" %}</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'contest:application_create' %}">{% trans "Подать заявку" %}</a>
                                </li>
                            {% endif %}

                        {% endif %}


                        <form method="post" action="{% url 'logout' %}" class="me-3">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-ghost-primary">{% trans "Выход" %}</button>
                        </form>
                    {% endif %}

                    <li class="nav-item">
                        <form method="post" action="{% url 'set_language' %}">
                            {% csrf_token %}
                            <select name="language" onchange="this.form.submit()" class="form-select form-select-sm">
                                <option value="ru" {% if LANGUAGE_CODE == 'ru' %}selected{% endif %}>RU</option>
                                <option value="kk" {% if LANGUAGE_CODE == 'kk' %}selected{% endif %}>KZ</option>
                            </select>
                            <input type="hidden" name="next" value="{{ request.path }}">
                        </form>
                    </li>
                </ul>
            </div>
            <!-- End Collapse -->
        </nav>
    </div>
</header>
