{% load static i18n %}
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- Required Meta Tags Always Come First -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'theme/images/favicon.ico' %}">
<!-- Font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

<!-- CSS Implementing Plugins -->
<link rel="stylesheet" href="{% static 'theme/vendor.min.css' %}">

<!-- CSS Front Template -->
<link rel="stylesheet" href="{% static 'theme/theme.min.css' %}">
<link rel="stylesheet" href="{% static 'theme/docs.css' %}">
<link rel="stylesheet" href="{% static 'theme/fslightbox.css' %}">
<script src="{% static 'theme/clipboard.min.js' %}"></script>