{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" dir="" class="h-100">
<head>
    {% include "includes/head.html" %}
    <title>{% block title %}{% trans "Панорама педагогических идей" %}{% endblock %}</title>
    {% block head %}{% endblock %}
    {% include "includes/metrika.html" %}
</head>
<body class="d-flex align-items-center min-h-100">
<header id="header" class="navbar navbar-expand navbar-light navbar-absolute-top">
    <div class="container-fluid">
        <nav class="navbar-nav-wrap">
            <!-- White Logo -->
            <a class="navbar-brand d-none d-lg-flex" href="/" aria-label="Front">
                <img class="navbar-brand-logo" src="{% static 'theme/images/logo.png' %}" alt="Logo"
                     style=" max-height: 60px; min-width: auto; ">
            </a>
            <!-- End White Logo -->

            <!-- Default Logo -->
            <a class="navbar-brand d-flex d-lg-none" href="/" aria-label="Front">
                <img class="navbar-brand-logo" src="{% static 'theme/images/logo-mono.png' %}" alt="Logo">
            </a>
            <!-- End Default Logo -->

            <div class="ms-auto">
                <a class="link link-sm link-secondary" href="/">
                    <i class="bi-chevron-left small ms-1"></i> На главную
                </a>
            </div>
        </nav>
    </div>
</header>
{% block content %}{% endblock %}
{% include "includes/js.html" %}
{% block scripts %}{% endblock %}
</body>
</html>
