{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
    {% if LANGUAGE_CODE == 'ru' %}
        ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
    {% endif %}
    {% if LANGUAGE_CODE == 'kk' %}
        ҚҰПИЯЛЫЛЫҚ САЯСАТЫ
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container content-space-3 content-space-lg-4">
        <!-- Card -->
        <div class="card card-lg">
            <!-- Header -->
            <div class="card-header bg-dark py-sm-10">
                {% if LANGUAGE_CODE == 'ru' %}
                    <h1 class="card-title h2 text-white">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</h1>
                    <p class="card-text text-white"> Настоящая Политика конфиденциальности (далее – Политика) определяет
                        порядок
                        обработки и защиты персональных данных Пользователя, которые АО
                        «Национальный центр повышения квалификации «Өрлеу» (далее – Общество) может
                        получить во время использования им информационных систем Общества (далее –
                        ИС). Все термины и определения, встречающие в тексте Политики толкуются в
                        соответствии с действующим законодательством Республики Казахстан.
                        Пользователь прямо соглашается на обработку своих персональных данных, как
                        это описано в настоящей Политике.</p>
                {% endif %}

                {% if LANGUAGE_CODE == 'kk' %}
                    <h1 class="card-title h2 text-white">ҚҰПИЯЛЫЛЫҚ САЯСАТЫ</h1>
                    <p class="card-text text-white"> Осы Құпиялылық саясаты (бұдан әрі – Саясат) «Өрлеу» біліктілікті
                        арттыру
                        ұлттық орталығы» акционерлік қоғамының (бұдан әрі – Қоғам) ақпараттық
                        жүйелерін (бұдан әрі – АЖ) пайдалануы барысында Қоғам пайдаланушының дербес
                        деректерін қалай өңдеп, қорғайтынын айқындайды. Саясат мәтінінде кездесетін
                        барлық терминдер мен ұғымдар Қазақстан Республикасының қолданыстағы
                        заңнамасына сәйкес түсіндіріледі. Пайдаланушы осы Саясатта көрсетілгендей өз
                        дербес деректерін өңдеуге тікелей келісім береді.</p>

                {% endif %}


            </div>
            <!-- End Header -->

            <!-- Card Body -->
            <div class="card-body">
                {% if LANGUAGE_CODE == 'ru' %}
                    <p align="center">
                        <strong>1.</strong> <strong>Общие положения</strong>
                    </p>
                    <p>
                        <strong></strong>
                    </p>
                    <p>
                        1.1. Использование Пользователем ИС означает согласие с настоящей Политикой
                        и условиями обработки персональных данных Пользователя.
                    </p>
                    <p>
                        1.2. В случае несогласия с условиями Политики Пользователь должен прекратить
                        использование ИС.
                    </p>
                    <p>
                        1.3. Настоящая Политика применяется только к ИС Общества. Общество не
                        контролирует и не несет ответственность за сайты третьих лиц, на которые
                        Пользователь может перейти по ссылкам, доступным на ИС Общества.
                    </p>
                    <p align="center">
                        <strong>2. Предмет политики конфиденциальности</strong>
                    </p>
                    <p align="center">
                        <strong></strong>
                    </p>
                    <p>
                        2.1. Настоящая Политика устанавливает обязательства Общества по
                        неразглашению и обеспечению режима защиты конфиденциальности персональных
                        данных, которые Пользователь предоставляет при регистрации и использовании
                        ИС.
                    </p>
                    <p>
                        2.2. Персональные данные, разрешённые к обработке в рамках настоящей
                        Политики, предоставляются Пользователем путём заполнения регистрационной
                        формы на ИС и включает, но не ограничиваясь следующую информацию:
                    </p>
                    <p>
                        1) фамилия, имя, отчество (в случае, если указано в документе,
                        удостоверяющем личность);
                    </p>
                    <p>
                        2) контактный телефон (домашний, сотовый, рабочий);
                    </p>
                    <p>
                        3) банковские реквизиты;
                    </p>
                    <p>
                        4) данные, удостоверяющие личность Пользователя (индивидуальный
                        идентификационный номер (ИИН), дата выдачи и срок действия, серия и номер
                        документа, удостоверяющего личность (или его заменяющего), выдавший орган);
                    </p>
                    <p>
                        5) сведения об адресе регистрации по месту жительства;
                    </p>
                    <p>
                        6) адрес электронной почты;
                    </p>
                    <p>
                        7) сведения о месте работы (должность, степень, звание, полное юридическое
                        название и тип организации);
                    </p>
                    <p>
                        8) любые иные персональные данные, необходимые при регистрации и/или
                        использовании ИС.
                    </p>
                    <p align="center">
                        <strong>3. Цели сбора и обработки персональных данных</strong>
                    </p>
                    <p>
                        3.1. Персональные данные Пользователя Общества может использовать в
                        следующих целях:
                    </p>
                    <p>
                        1) идентификация Пользователя, в том числе при регистрации в ИС, и создании
                        учетной записи Пользователя, для обеспечения надлежащего функционирования
                        ИС;
                    </p>
                    <p>
                        2) предоставление Пользователю доступа к персонализированным ресурсам ИС;
                    </p>
                    <p>
                        3) установление с Пользователем связи, через любые доступные каналы связи,
                        включая направление уведомлений, запросов, касающихся использования ИС,
                        оказания услуг, обработка запросов и заявок от Пользователя;
                    </p>
                    <p>
                        4) подтверждение достоверности и полноты персональных данных,
                        предоставленных Пользователем;
                    </p>
                    <p>
                        5) предоставление Пользователю доступа к сервисам, информации и/или
                        материалам, содержащихся в ИС;
                    </p>
                    <p>
                        6) предоставление Пользователю эффективной клиентской и технической
                        поддержки при возникновении проблем, связанных с использованием ИС;
                    </p>
                    <p>
                        7) предоставление Пользователю обновлений, специальных предложений,
                        информации, новостной рассылки и иных сведений от имени Общества или от
                        имени партнеров Общества;
                    </p>
                    <p>
                        8) для формирования единой базы данных участником мероприятий, организуемых
                        Обществом, а также для опубликования их результатов;
                    </p>
                    <p>
                        9) осуществление рассылки рекламных и/или маркетинговых материалов, рассылка
                        приглашений на мероприятия, проводимые и/или организуемые Обществом,
                        проведение маркетинговых кампаний, опросов и исследований;
                    </p>
                    <p>
                        10) и иных целях не противоречащим требованиям законодательства Республики
                        Казахстан.
                    </p>
                    <p>
                        3.2. В целях предусмотренных п 3.1. настоящей политики персональные данные
                        Пользователя могут быть переданы третьим лицам (в том числе трансграничная
                        передача) в порядке, установленном законодательством Республики Казахстан.
                    </p>
                    <p align="center">
                        <strong>4. Способы и сроки обработки персональной информации</strong>
                    </p>
                    <p>
                        4.1. Обработка персональных данных Пользователя осуществляется без
                        ограничения срока, любым законным способом, в том числе в информационных
                        системах персональных данных с использованием средств автоматизации или без
                        использования таких средств.
                    </p>
                    <p>
                        4.2. Персональные данные Пользователя могут быть переданы уполномоченным
                        органам государственной власти Республики Казахстан только по основаниям и в
                        порядке, установленным законодательством Республики Казахстан.
                    </p>
                    <p>
                        4.3. Общество ИС принимает необходимые организационные и технические меры
                        для защиты персональной информации Пользователя от неправомерного или
                        случайного доступа, уничтожения, изменения, блокирования, копирования,
                        распространения, а также от иных неправомерных действий третьих лиц.
                    </p>
                    <p>
                        4.4. Общество ИС совместно с Пользователем принимает все необходимые меры по
                        предотвращению убытков или иных отрицательных последствий, вызванных утратой
                        или разглашением персональных данных Пользователя.
                    </p>
                    <p align="center">
                        <strong>5. Безопасность данных</strong>
                    </p>
                    <p align="center">
                        <strong></strong>
                    </p>
                    <p>
                        5.1. Общество принимает необходимые и достаточные организационные и
                        технические меры, направленные на обеспечение безопасности личной информации
                        Пользователя от случайной потери, несанкционированного доступа,
                        использования, изменения и раскрытия информации.
                    </p>
                    <p>
                        5.2. Безопасность и защита информации Пользователя также зависит от
                        Пользователя. Пользователю необходимо принимать все доступные меры для
                        обеспечения безопасности данных (логин, пароль и иные данные, к которым
                        Пользователь имеет доступ).
                    </p>
                    <p>
                        5.3. Общество также не несет ответственности за действие пользователей,
                        направленных на обход каких-либо настроек конфиденциальности и/или нарушение
                        мер безопасности, которые Пользователю необходимо соблюдать
                    </p>
                    <p>
                        5.4. В случае утраты или разглашения Конфиденциальной информации Общество не
                        несёт ответственность, если данная конфиденциальная информация:
                    </p>
                    <p>
                        1) стала публичным достоянием до её утраты или разглашения;
                    </p>
                    <p>
                        2) была получена от третьей стороны до момента её получения Обществом;
                    </p>
                    <p>
                        3) была разглашена с согласия Пользователя.
                    </p>
                    <p align="center">
                        <strong>6. Разрешение споров</strong>
                    </p>
                    <p align="center">
                        <strong></strong>
                    </p>
                    <p>
                        6.1. До обращения в суд с иском по спорам, возникающим из отношений между
                        Пользователем и Обществом, обязательным является предъявление претензии
                        (письменного предложения о добровольном урегулировании спора).
                    </p>
                    <p>
                        6.2. Получатель претензии в течение 30 (тридцати) календарных дней со дня
                        получения претензии, письменно уведомляет заявителя претензии о результатах
                        рассмотрения претензии.
                    </p>
                    <p>
                        6.3. При недостижении соглашения спор будет передан на рассмотрение в
                        судебный орган по месту нахождения Общества в соответствии с действующим
                        законодательством Республики Казахстан.
                    </p>
                    <p align="center">
                        <strong>7. Дополнительные условия</strong>
                    </p>
                    <p align="center">
                        <strong></strong>
                    </p>
                    <p>
                        7.1. Общество вправе вносить изменения в настоящую Политику без согласия
                        Пользователя. Все изменения вступают в силу с момента их размещения в
                        информационной системе Общества (ИС). Используя ИС, Пользователь выражает
                        своё явное согласие с условиями настоящей Политики в порядке,
                        предусмотренном статьёй 8 Закона Республики Казахстан «О персональных данных
                        и их защите».
                    </p>
                    <p>
                        7.2. Пользователь обязуется самостоятельно следить за изменениями Политики
                        путем ознакомления с актуальной редакцией.
                    </p>
                    <p>
                        7.3. Дальнейшее использование Пользователем ИС, после внесения изменений в
                        Политику, считается безусловным принятием Пользователем этих изменений.
                    </p>
                    <p>
                        7.4. Все предложения или вопросы по настоящей Политике конфиденциальности
                        следует направлять на электронную почту: <a
                            href="mailto:kuzhat@orleu-edu.kz">kuzhat@orleu-edu.kz</a>, или по номеру
                        телефона <br/>
                        <a href="tel:+7 (7172) 574-600">+7 (7172) 574-600</a>.
                    </p>
                    <p>
                        7.5. Актуальная редакция настоящей Политики конфиденциальности размещена в
                        информационной системе Общества.
                    </p>
                {% endif %}

                {% if LANGUAGE_CODE == 'kk' %}

                    <p align="center">
                        <strong>1.</strong> <strong>Жалпы ережелер</strong>
                    </p>
                    <p>
                        <strong></strong>
                    </p>
                    <p>
                        1.1. Пайдаланушының Қоғамның АЖ пайдалануы осы Құпиялылық саясатының және
                        Пайдаланушының дербес деректерін өңдеу шарттарының қабылданғанын білдіреді.
                    </p>
                    <p>
                        1.2. Егер Пайдаланушы Саясаттың шарттарымен келіспесе, ол АЖ пайдалануды
                        тоқтатуға тиіс.
                    </p>
                    <p>
                        1.3. Осы Саясат тек Қоғамның АЖ қолданылады. Қоғам Пайдаланушы АЖ арқылы
                        өтуі мүмкін үшінші тұлғалардың сайттарын бақылай алмайды және олар үшін
                        жауапты болмайды.
                    </p>
                    <p align="center">
                        <strong>2. Құпиялылық саясатының мәні</strong>
                    </p>
                    <p>
                        2.1. Осы Саясат Пайдаланушы тіркеуден өткен және АЖ пайдаланған кезде
                        ұсынған дербес деректерінің құпиялылығын сақтауды және қорғау режимін
                        қамтамасыз ету бойынша Қоғамның міндеттемелерін айқындайды.
                    </p>
                    <p>
                        2.2. Осы Саясат шеңберінде өңдеуге рұқсат етілген дербес деректер
                        Пайдаланушы тарапынан АЖ тіркеу нысанын толтыру арқылы ұсынылады және
                        мыналарды қамтиды (бірақ тек олармен шектелмейді):
                    </p>
                    <p>
                        1) тегі, аты, әкесінің аты (жеке басты куәландыратын құжатта көрсетілген
                        жағдайда);
                    </p>
                    <p>
                        2) байланыс телефондары (үй, ұялы, жұмыс);
                    </p>
                    <p>
                        3) банк деректемелері;
                    </p>
                    <p>
                        4) Пайдаланушыдың жеке басын куәландыратын мәліметтер (жеке сәйкестендіру
                        нөмірі (ЖСН), берілген күні мен қолданылу мерзімі, жеке басын куәландыратын
                        құжаттың сериясы мен нөмірі (немесе оны алмастыратын құжат), берген орган);
                    </p>
                    <p>
                        5) тұрғылықты мекенжайы бойынша тіркеу туралы мәліметтер;
                    </p>
                    <p>
                        6) электрондық пошта мекенжайы;
                    </p>
                    <p>
                        7) жұмыс орны туралы мәліметтер (қызметі, дәрежесі, ғылыми атағы, ұйымның
                        толық заңды атауы мен түрі);
                    </p>
                    <p>
                        8) тіркеу және/немесе АЖ пайдалану кезінде қажет кез келген өзге де дербес
                        деректер.
                    </p>
                    <p align="center">
                        <strong>3. Дербес деректерді жинау және өңдеу мақсаттары</strong>
                    </p>
                    <p>
                        3.1. Қоғам Пайдаланушының дербес деректерін келесі мақсаттарда пайдалана
                        алады:
                    </p>
                    <p>
                        1) Пайдаланушыны сәйкестендіру, соның ішінде АЖ тіркеу кезінде және
                        Пайдаланушының жеке тіркелгісін жасау үшін, АЖ-ның дұрыс жұмыс істеуін
                        қамтамасыз ету мақсатында;
                    </p>
                    <p>
                        2) Пайдаланушыға АЖ жекелендірілген ресурстарға қол жеткізуді ұсыну;
                    </p>
                    <p>
                        3) Пайдаланушымен байланыс орнату, соның ішінде АЖ пайдалануға, қызмет
                        көрсетуге, Пайдаланушының сұрау салулары мен өтініштерін өңдеуге қатысты
                        хабарламалар мен сұрауларды кез келген қолжетімді байланыс арнасы арқылы
                        жіберу;
                    </p>
                    <p>
                        4) Пайдаланушы ұсынған дербес деректердің шынайылығын және толықтығын
                        растау;
                    </p>
                    <p>
                        5) Пайдаланушыға АЖ қамтылған сервистерге, ақпаратқа және/немесе
                        материалдарға қол жеткізуді қамтамасыз ету;
                    </p>
                    <p>
                        6) АЖ пайдалану кезінде туындауы мүмкін мәселелер бойынша Пайдаланушыға
                        тиімді клиенттік және техникалық қолдау көрсету;
                    </p>
                    <p>
                        7) Қоғамның немесе оның серіктестерінің атынан жаңартуларды, арнайы
                        ұсыныстарды, ақпараттарды, жаңалықтар таралымын және өзге де мәліметтерді
                        ұсыну;
                    </p>
                    <p>
                        8) Қоғам ұйымдастыратын іс-шараларға қатысушылардың бірыңғай деректер
                        базасын қалыптастыру және олардың нәтижелерін жариялау мақсатында;
                    </p>
                    <p>
                        9) Қоғам ұйымдастыратын және/немесе өткізетін іс-шараларға шақыруларды
                        тарату, жарнамалық және/немесе маркетингтік материалдарды тарату,
                        маркетингтік науқандар, сауалнамалар және зерттеулер жүргізу мақсатында;
                    </p>
                    <p>
                        10) және Қазақстан Республикасының заңнамасына қайшы келмейтін өзге де
                        мақсаттарда.
                    </p>
                    <p>
                        3.2. Осы Саясаттың 3.1-тармағында көзделген мақсаттар үшін Пайдаланушының
                        дербес деректері Қазақстан Республикасының заңнамасына сәйкес үшінші
                        тұлғаларға (оның ішінде шекарадан тыс жерлерге) берілуі мүмкін.
                    </p>
                    <p align="center">
                        <strong>4. Дербес ақпаратты өңдеу тәсілдері мен мерзімдері</strong>
                    </p>
                    <p>
                        4.1. Пайдаланушының дербес деректері шектеусіз мерзімге, заңда рұқсат
                        етілген кез келген тәсілмен, оның ішінде автоматтандырылған құралдарды
                        пайдалана отырып немесе ондай құралдарды пайдаланбай, дербес деректердің
                        ақпараттық жүйелерінде өңделеді.
                    </p>
                    <p>
                        4.2. Пайдаланушының дербес деректері Қазақстан Республикасының заңнамасында
                        белгіленген негіздер мен тәртіпке сәйкес тек уәкілетті мемлекеттік
                        органдарға берілуі мүмкін.
                    </p>
                    <p>
                        4.3. Қоғамның ақпараттық жүйесі Пайдаланушының дербес ақпаратын заңсыз
                        немесе кездейсоқ қол жеткізуден, жойылудан, өзгертілуден, бұғатталудан,
                        көшірілуінен, таратылуынан және үшінші тұлғалардың өзге де заңсыз
                        әрекеттерінен қорғау үшін қажетті ұйымдастырушылық және техникалық шараларды
                        қолданады
                    </p>
                    <p>
                        4.4. Қоғам мен Пайдаланушы дербес деректердің жоғалуынан немесе жария
                        етілуінен туындауы мүмкін залалдар мен өзге де теріс салдардың алдын алу
                        үшін барлық қажетті шараларды бірлесіп қабылдайды.
                    </p>
                    <p align="center">
                        <strong>5. Деректердің қауіпсіздігі</strong>
                    </p>
                    <p align="center">
                        <strong></strong>
                    </p>
                    <p>
                        5.1. Қоғам Пайдаланушының жеке ақпаратын кездейсоқ жоғалту, рұқсатсыз қол
                        жеткізу, пайдалану, өзгерту және жария ету жағдайларынан қорғау мақсатында
                        қажетті және жеткілікті ұйымдастырушылық және техникалық шараларды
                        қабылдайды.
                    </p>
                    <p>
                        5.2. Пайдаланушы ақпаратының қауіпсіздігі мен қорғалуы Пайдаланушының өзіне
                        де байланысты. Пайдаланушы өз деректерінің (логин, құпиясөз және басқа да
                        қолжетімді ақпарат) қауіпсіздігін қамтамасыз ету үшін барынша барлық мүмкін
                        шараларды қолдануға тиіс.
                    </p>
                    <p>
                        5.3. Қоғам Пайдаланушы сақтауы тиіс құпиялылық параметрлерін айналып өтуге
                        және/немесе қауіпсіздік шараларын бұзуға бағытталған Пайдаланушылардың
                        әрекеттері үшін жауап бермейді.
                    </p>
                    <p>
                        5.4. Құпия ақпараттың жоғалуына немесе жария етілуіне байланысты келесі
                        жағдайларда Қоғам жауапкершілікке тартылмайды:
                    </p>
                    <p>
                        1) егер бұл Құпия ақпарат жоғалғанға немесе жария етілгенге дейін жалпыға
                        қолжетімді болған жағдайда;
                    </p>
                    <p>
                        2) егер ол Қоғамға дейін үшінші тараптан алынған болса;
                    </p>
                    <p>
                        3) егер ол Пайдаланушының келісімімен жария етілген болса.
                    </p>
                    <p align="center">
                        <strong>6. Дауларды шешу</strong>
                    </p>
                    <p align="center">
                        <strong></strong>
                    </p>
                    <p>
                        6.1. Пайдаланушы мен Қоғам арасындағы қатынастардан туындайтын даулар
                        бойынша сотқа талап қою алдында міндетті түрде дауды ерікті түрде шешу
                        туралы жазбаша ұсыныс (шағым) жолдануы тиіс.
                    </p>
                    <p>
                        6.2. Шағым алған тарап оны алған күннен бастап 30 (отыз) күнтізбелік күн
                        ішінде шағым берушіге шағымды қарау нәтижелері туралы жазбаша хабарлама
                        жібереді.
                    </p>
                    <p>
                        6.3. Келісімге қол жеткізілмеген жағдайда дау Қазақстан Республикасының
                        қолданыстағы заңнамасына сәйкес Қоғам орналасқан жердегі сот органына
                        беріледі.
                    </p>
                    <p align="center">
                        <strong>7. Қосымша шарттар</strong>
                    </p>
                    <p align="center">
                        <strong></strong>
                    </p>
                    <p>
                        7.1. Қоғам осы Саясатқа Пайдаланушының келісімінсіз өзгерістер енгізуге
                        құқылы. Барлық өзгерістер Қоғамның АЖ жарияланған сәттен бастап күшіне
                        енеді. АЖ пайдалану арқылы Пайдаланушы Қазақстан Республикасының «Дербес
                        деректер және оларды қорғау туралы» Заңының 8-бабына сәйкес осы Саясаттың
                        шарттарын қабылдайтынын нақты білдіреді.
                    </p>
                    <p>
                        7.2. Пайдаланушы Саясаттың өзекті нұсқасымен танысу арқылы ондағы
                        өзгерістерді өз бетінше қадағалауға міндеттенеді.
                    </p>
                    <p>
                        7.3. Саясатқа өзгерістер енгізілгеннен кейін АЖ әрі қарай пайдалану
                        Пайдаланушының бұл өзгерістерді сөзсіз қабылдағанын білдіреді.
                    </p>
                    <p>
                        7.4. Осы Құпиялылық саясатына қатысты барлық ұсыныстар мен сұрақтар келесі
                        электрондық пошта арқылы жолдануы тиіс: <a
                            href="mailto:kuzhat@orleu-edu.kz">kuzhat@orleu-edu.kz</a> немесе келесі
                        телефон нөмірі бойынша:<a href="tel:+7 (7172) 574-600">+7 (7172) 574-600</a>.
                    </p>
                    <p>
                        7.5. Осы Құпиялылық саясатының өзекті нұсқасы Қоғамның ақпараттық жүйесінде
                        орналастырылған.
                    </p>

                {% endif %}

            </div>
            <!-- End Card Body -->
        </div>
        <!-- End Card -->
    </div>
{% endblock %}
